body{

    background:black;
    color:white;
    text-align:center;
    font-family:Arial;

}

canvas{

    background:#111;

    border:3px solid white;

    display:block;

    margin:auto;

}

h1{

    color:lime;

}

#score{

    font-size:24px;

    margin:15px;

}
